* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  font-size: 1.5rem;
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
}

.container {
  width: min(1920px, 100% - 8rem);
  padding-block: 4rem;
  margin-inline: auto;
}

.char-animation-wrapper {
  /* max-width: 40rem; */
}

.char-animation {
  display: grid;
}

h1 {
  font-size: 6rem;
  max-width: 60rem;
}

h1 .highlighted {
  color: cornflowerblue;
  font-family: 'Playfair Display', serif;
  font-optical-sizing: auto;
  text-transform: lowercase;
}

.word-animation {
  font-size: 1.5rem;
}

.word-animation-wrapper {
  max-width: 800px;
  margin-top: 1rem;
}

.container {
  min-height: 100dvh;
}

.loader {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: darkblue;
  color: white;
  z-index: 99999;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-101%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 0;
    transform: translateY(-101%);
  }
}

[data-navbar] {
  transform: translateY(0%);
  opacity: 1;
  transition: all 0.3s ease;
  animation: fadeIn 0.5s ease;
}

[data-navbar].hide-navbar {
  transform: translateY(-101%);
  opacity: 0;
  animation: fadeOut 0.3s;
}

.w-richtext-figure-type-image {
  display: block !important;
  clear: none !important;
  float: none !important;
}

.container.longer {
  height: 300vh;
}

.split-word {
  width: max-content;
}
