[data-reveal-type]:not([data-initialized]) {
  visibility: hidden;
}

.split-word {
  width: max-content;
}

.split-line,
.split-mask-line-mask {
  display: inline-block !important;
}

.split-line:last-child,
.split-mask-line-mask:last-child {
  display: block !important;
}
