/* For Text Animations */

[data-reveal-type] {
  font-kerning: none;
}

.reveal-parent {
  display: inline-flex;
  overflow: hidden;
  word-break: keep-all;
}

[data-remove-mask] .reveal-parent {
  overflow: visible;
}
